.navbar{
    background-color: rgb(189, 182, 182);
}

.navbar-nav li{
    padding-left: 20px;
  }

  .content{
    background-color: black;
    position: absolute; 
    top:0;
    bottom: 0;
    left: 0; 
    right: 0; 
    
    };

    .container {
        color:white;
    }
   